.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* background-color:blue; */
}

 .header div {
    display: flex;
    /* background-color: deeppink; */
}

.header a {
    margin: auto;
    /* background-color: lawngreen; */
}

a {
    background: #A6B0BA;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    width: 100px;
    text-align: center;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #919EAB;
    font-weight: bold;
    font-size: 14px;
}

h1 {
    text-align: center;
}

.main_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}