.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* background-color: orangered; */
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* background-color:blue; */
}

 .menu div {
    display: flex;
    /* background-color: deeppink; */
}

.menu a {
    margin: auto;
    /* background-color: lawngreen; */
}

h1 {
    text-align: center;
}

/*
.menu .header {
    display: flex;
    justify-content: space-between;
}
*/